<div class="content">
    <h3>Hello {{email}}</h3>
    <p>You can use code: {{randomCode}}</p>
    <p>Or you can directly use this <a href="{{recoveryLink}}">link</a> to reset password.</p>
</div>